* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

.bg {
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg img {
    height: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
}

img:hover {
    height: 60%;
    transform: translate(-50%, -50%) scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    filter: brightness(1.2);
}

.img1 {
    left: 25%;
}

.img2 {
    left: 50%;
}

.img3 {
    left: 75%;
}